@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Dublin North<br />
    80 Shantalla Road<br />
    Beaumont<br />
    Dublin 9<br />
    <abbr title="Phone">P:</abbr>
    01 862 2884
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>