@{
    ViewBag.Title = "Staff Confirmation";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Staff member successfully registered! <br /><br />
        The new staff member is ready to log in into the system and able to take responsability for any booking.
    </p>
</div>
