@{
    ViewBag.Title = "Booking Confirmation";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for booking a service with us! 
        Please, contact us if you have any doubt.
    </p>
</div>
