@{
    ViewBag.Title = "New Services/Parts Confirmation";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        New Services/Parts successfully registered! <br /><br />
        The new object is ready to be used by the bookings upcoming.
    </p>
</div>
